@import url(../../global.css);

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--slate-100);

    padding-bottom: 1rem;
    border-bottom: 4px solid var(--slate-500);
}