@import url(../../global.css);

.logo {
    height: 3rem;
    width: 3rem;

    margin-right: 15rem;

    background: transparent;

    border: 5px solid var(--gray-700);
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: .8rem;
    color: var(--gray-700);

    cursor: pointer;
}